.container input {
    width: 0;
    opacity: 0;
}
.container .search {
    left: 50%;
    z-index: 6;
    background: crimson;
}
.container .search::before {
    top: 0;
    left: 0;
    width: 25px;
}
.container .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}
